<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="BDAtencionEntities" connectionString="metadata=res://*/Modelo.BDAtencionContext.csdl|res://*/Modelo.BDAtencionContext.ssdl|res://*/Modelo.BDAtencionContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=et_dej4501;user id=sa;password=Salvatore789;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>